<!DOCTYPE html>
<html>
  <head>
    <title>Superhero Secret Identities</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Superhero Secret Identities</h1>

    <% if (user) { %>
    <h1>WELCOME BACK <%= user.name %></h1>
    <p>Add a secret identity <a href="/add-secret">here</a></p>
    <a href="/log-out">LOG OUT</a>
    <% } else { %>
    <h1>Please log in or <a href="/sign-up">Sign up</a></h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <% } %>

    <table>
      <tr>
        <th>Superhero</th>
        <th>Secret Identity</th>
        <th>Actions</th>
        <!-- Added column for actions -->
      </tr>
      <% secrets.forEach(function(secret) { %>
      <tr>
        <td><%= secret.superhero %></td>
        <td><%= user ? secret.secretIdentity : '***' %></td>
        <td>
          <% if (user && user.isAdmin) { %>
          <form action="/delete-secret" method="POST">
            <input type="hidden" name="secretId" value="<%= secret._id %>" />
            <button type="submit">Delete Secret</button>
          </form>

          <% } %>
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
